body {
  background: #fafafa;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(100vh * 0.05);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text {
  color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  background: linear-gradient(40deg, #2b74e2, #742be2);
}
span {
  text-decoration: underline;
  font-family: sans;
  color: rgb(0, 255, 247);
}

p {
  color: #ffffff;
  padding: 2rem;
  margin-inline: 20rem;
  border-radius: 10px;
  background: linear-gradient(40deg, #2b74e2, #742be2);
}

.circle {
  position: fixed;
  z-index: 1;
  inset: 0;
}
