body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fafafa;
  height: 100vh;
  margin: 0;
  padding: 0;
}

canvas {
  min-width: 100%;
  /* height: 100%; */
  touch-action: none;
}
.text {
  position: fixed;
  bottom: 0;
  z-index: -1;
  color: #ffffff;
  user-select: none;
  padding: 2rem;
  border-radius: 10px;
  background: linear-gradient(40deg, #2b74e2, #742be2);
}
span {
  font-style: italic;
  font-family: sans;
  color: rgb(0, 255, 247);
}

@media screen and (width < 768px) {
  .text {
    padding: 1.5rem;
    font-size: 18px;
  }
}
