body {
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

h1 {
  color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  background: linear-gradient(40deg, #2b74e2, #742be2);
}
p {
  color: #ffffff;
  padding: 2rem;
  margin-inline: 20rem;
  border-radius: 10px;
  background: linear-gradient(40deg, #2b74e2, #742be2);
}

.circle {
  position: fixed;
  z-index: 1;
  inset: 0;
}
