body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fafafa;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.text {
  color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  background: linear-gradient(40deg, #2b74e2, #742be2);
}
span {
  text-decoration: underline;
  font-family: sans;
  color: rgb(0, 255, 247);
}

.circle {
  position: fixed;
  z-index: 1;
  inset: 0;
}
@media screen and (width < 768px) {
  .text {
    padding: 1.5rem;
    font-size: 18px;
  }
}
